body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
    text-align: center;
  }

  .fixed-size-image {
    width: 100%; /* O ajusta según tu necesidad */
    height: 200px; /* Ajusta según tu necesidad */
    object-fit: contain; /* O ajusta según tu necesidad */
  }

  a{
    text-decoration: none;
  }
  
